<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.mindtree.ComprehenssiveMilestone.LogIn"/>
      <class name="com.mindtree.ComprehenssiveMilestone.Order"/>
      <class name="com.mindtree.ComprehenssiveMilestone.TC001_URL"/>
      <class name="com.mindtree.ComprehenssiveMilestone.TC003_SearchInValidData"/>
      <class name="com.mindtree.ComprehenssiveMilestone.TC002_SearchValidData"/>
      <class name="com.mindtree.ComprehenssiveMilestone.Help"/>
      <class name=".NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
